{% extends 'blog/base.html' %}

{% block content %}
    <article class="post" style="background-color: white;padding:20px 20px 20px 20px ;">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
                <a class="btn btn-secondary" href="{% url 'post_remove' pk=post.pk %}">
                    {% include './icons/trash.svg' %}
                </a>
                {% if post.published_date is None %}
                    <a class="btn btn-secondary" href="{% url 'post_publish' pk=post.pk %}">
                        {% include './icons/arrow-up-circle.svg' %}
                    </a>
                {% endif %}
            {% endif %}
        </aside>
        <h2>{{ post.title }}</h2>
        {% if post.published_date %}
            <div>
                <p>{{post.author}}· Posted at {{ post.published_date }}</p>
            </div>
        {%else%}
        <div>
            <p>{{post.author}}· Created at {{post.created_date}}</p>
        </div>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
        <hr style="color: lightslategray;margin-top: 10px;">
        {% for comment in post.comments.all %}
            <div class="comment">
                {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}" style="float:right;">
                    <p>Approve {% include './icons/clipboard-check.svg' %}</p>
                </a>
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}" style="float: right;">
                    <p>Remove {% include './icons/clipboard-x.svg' %}</p>
                </a>
                {% endif %}
                <p style="color: gray;">
                    <strong style="color: black;">{{ comment.author }}</strong> , {{ comment.created_date }}
                </p> 
                <p>{{ comment.text|linebreaks }}</p>    
            </div>
            <hr style="color: lightslategray;">
        {% empty %}
        <div class="comment">
            <p>No comments here yet :(</p>
        </div>
        <hr style="color: lightslategray;">
        {% endfor %}
        <div class="comment">
            <a href="{% url 'add_comment_to_post' pk=post.pk %}" style="text-decoration:none;color: gray;">
                <p>Add comment {% include './icons/chat-square-text.svg' %}</p>
            </a>
        </div>
        <div>
            
        </div>
    </article>
{% endblock %}