/*body*/
.body{
    background-color: whitesmoke;
    font: 'Noto Sans', sans-serif;
}

main{
    padding-top: 120px;
}

/*--------------------------------------*/

/*navbar*/
.navbar {
    background-color: #FFE3E3;
    text-align: center;
}

.navbar h3,
.navbar h3 a,
.navbar h3 a:visited,
.navbar h3 a:active {
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 36pt;
    text-decoration: none;
}

.top-menu,
.top-menu:visited {
    color: black;
    font-size: 20pt;
    float: right;
    margin-right: 20px;
    
}

.top-menu:hover {
    color: #FFA0A0;
}
/*--------------------------------------*/

/*button*/
.save {
    float: right;
    color: black;
    background: none;
    border-color:black;
}

.btn-secondary,
.btn-secondary:visited {
    color: black;
    background: none;
    border-color:black;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: black;
}

.btn-primary,
.btn-primary:visited {
    color: white;
    background-color: black;
    border-color: black;
}

.btn-primary:hover {
    color: black;
    background: none;
    border-color:black;
}

.btn-default{
    color:black ;
}
/*--------------------------------------*/

/*form*/
.post-form textarea,
.post-form input {
    width: 100%;
}
/*--------------------------------------*/

/*post_detail*/
.post > .actions{
    float: right;
}
/*--------------------------------------*/

/*post_list*/
.list_card:hover {
    background-color: gainsboro;
}

.card-header{
    display: flex;
    align-items: center;
}

.user-pic{
    width: 50px;
    height: 50px;
    border: #FFA0A0 2px solid;
    float: left;
    border-radius: 50%;
    background-color: white;
}

.user_and_date{
    position: relative;
    margin-left: 10px;
}

.user_and_date h6{
    color: lightslategray;
}
/*--------------------------------------*/

/*post_detail comment section*/
.comment {
    margin: 20px 0px 20px 20px;
}
/*--------------------------------------*/

/*post_board pagination*/
.pagination_nav{
    margin-left: auto;
    margin-right: auto;
}

.pagination > li > a
{
    background-color: white;
    color: #FFA0A0;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #FFA0A0 !Important;
    border: solid 1px #FFA0A0 !Important;
}

.pagination > .active > a:hover
{
    background-color: #FFA0A0 !Important;
    border: solid 1px #FFA0A0;
}
/*--------------------------------------*/
